.parent{
    height: 100vh;
    width: 100vw;
    background-color:#f0f2f5;
    display: flex;
    justify-content: center;
}
.facebook_image_with_form{
     display: grid;
     grid-template-columns: repeat(2,1fr);
     gap:5rem;
     height: 7rem;
     align-items: center;
     justify-content: center;
     margin-top: 10rem;
}
.image_content{
    display:grid;
    grid-template-rows: repeat(2,1fr);
    width: 80%;
    margin: auto;
}
.parent_form{
    
    background-color: white;
    padding: 20px;
    border-radius:8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width:25rem;

}